<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<h1 style="text-align: center;">Hobbies</h1>
<style>
    h1{
        color: cornsilk;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }
</style>
    </head>
    <body>
        <style>
            body{
                background-color:black
            }
h2{
    color: rgb(20, 20, 248);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
img{
    border-style: groove;
    border-color: blue;
    border-radius: 5px;
}
.Skyrim{
    padding-left: 150px;
}
.Light{
    padding-left: 30px;
}
.War{
    padding-left: 50px;
}
.Livros{
    padding-left: 40px;
}
.Fotos{
    padding-left: 40px;
}
        </style>

<h2 style="text-align: center;">Gosto muito de games, principalmente RPG!!!</h1>
<h2 style="text-align: center">Sou pro player em Skyrim</h2>
<div class="Skyrim">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><img src="Img/Skyrim.gif"></div>
        <div class="col-sm-4"></div>
    </div>
</div>

<br>
<br>
<h2 style="text-align: center;">Amante da franquia de Final Fantasy</h2>
<div class="Light">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"> <img src="Img/Lightning.gif">
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

<br>
<br>
<h2 style="text-align: center;"> E viciado em Warframe</h2>
<div class="War">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="Img/Warframe.gif">
        </div>
    </div>
</div>


<br>
<br>
<h2 style="text-align: center;">Amo ler, principalmente livros de fantasia!!!</h2>
<div class="Livros">
    <div class="row">
        <div class="col-sm-3">
            <img src="Img/coraline-bookcover.jpg" width="200" height="250">
        </div>
        <div class="col-sm-3">
            <img src="Img/Bruxas de oxford.jpg" width="200" height="250">
        </div>
        <div class="col-sm-3">
            <img src="Img/HP_CLassic_BIG_ea2381e2-2613-4f51-9bb5-6904bc13f982_grande.png" width="200" height="250">
        </div>
        <div class="col-sm-3">
            <img src="Img/The mortal instruments.jpg" width="200" height="250">
        </div>
    </div>
</div>




<br>
<br>
<h2 style="text-align: center;">Acho sensacional fotografia, faço ensaios por São Paulo com muito amor e carinho</h2>
<div class="Fotos">
<div class="row">
    <div class="col-sm-3"><img src="Img/LRM_EXPORT_205086296467128_20191015_172854275.jpeg"width="300" height="250"></div>
    <div class="col-sm-3"><img src="Img/LRM_EXPORT_291803699355899_20191001_185141403.jpeg"width="300" height="250"></div>
    <div class="col-sm-3"><img src="Img/IMG_1858.jpg"width="300" height="250"></div>
    <div class="col-sm-3"><img src="Img/LRM_EXPORT_195395063455043_20191015_144431372.jpeg" width="300" height="250"></div>
</div>
<form method="post" th:action="@{/logout}">
    <button type="submit">Sair</button>

</div>




 
 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>